/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require jquery.ui.all
 *= require_tree .
 */

.bglogocircle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: mediumturquoise;
    border: 1px solid black;
    text-align:center;
	color: black;
}

.bgsmcircle {
    cursor: pointer;
	border-radius: 50%;
    width: 15px;
    height: 15px;
    background: mediumturquoise;
    border: 1px solid black;
    text-align:center;
	color: black;
}

li {
    list-style: none;
    font-size: 16px;
}

/*li a {
    float: right;
    margin: 3px ;
    font-size: 12px;
}*/

ul {
	min-height: 50px;
	list-style-type: none;
}

ol {
	min-height: 50px;
	list-style-type: none;
}

h2 {
    font-size: 18px ;
}

.office{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.list {
    width: 48% ;
    padding: 2px 2px ;
    background-color: #ddd ;
    margin: 5px ;
    border: 1px solid #666 ;
    border-radius: 7px ;
}

.highlight-list {
	background-color: yellow;
}

.card {
    cursor: grab;
	cursor: moz-grab;
	cursor: -webkit-grab;
    border-radius: 3px ;
    border: 1px solid #666 ;
    margin: 5px ;
    padding: 5px ;
    word-wrap: break-word;
}
.card-rotate {
    -webkit-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    -ms-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
    transform:rotate(2deg);
}

.card-placeholder{
	height: 20px;
	margin: 5px;
	padding: 5px;
	background-color: lightyellow;
	border: 1px solid yellow;
	border-radius: 3px;
}

.employee-working {
	background-color: lightgreen;
	color: black;
}

.employee-not-working {
	background-color: lightblue;
	color: grey;
}

.return-text{
	font-size:8px;
	text-align:right;
	color:red;
	}
	
.name-text{}
		