body {
  background-color: #CDDDDF;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
//  &:visited {
//    color: #000;
//  }
  &:hover {
    color: #fff;
    background-color: transparent;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
//  padding: 2px;
//  background-color: red;
//  display: table;
  border-radius: 6px ;
	outline:none;
	border-color: #C0150C;
	box-shadow:0 0 20px 4px #C0150C;
	width: 220px;
	height: 30px;
}

#error_explanation {
  width: 450px;
  border: 2px solid #C0150C;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  border-radius: 6px ;
  background-color: #f0f0f0;
outline:none;
border-color: #C0150C;
box-shadow:0 0 20px 4px #C0150C;
opacity: 0.75;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #C0150C;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
